<div class="columns">
  <div #canvasContainer class="column" style="position: relative;">
    <canvas #board></canvas>
    <div *ngIf="!started" class="modal is-local is-active">
      <div class="modal-background"></div>
      <button (click)="startGame()" class="button is-success">START</button>
    </div>
  </div>
  <div class="column">
    <app-connected-users
      [users]="users$ | async"
      [loggedUser]="myId$ | async"
    ></app-connected-users>
    <app-power-ups-legend></app-power-ups-legend>
  </div>
</div>
